.encabezado{
  text-align: center;
}


.primero{
background:#1021F5;
color:#FFFFFF;
font-size: 30px;
padding-left: 10px;
}
.segundo{
background:#F52510;
color:#FFFFFF;
padding-top: 250px;
text-align: center;
font-size: 30px;
width: 100%;
height: 500px;
}

.dos{
background:#F52510;
color:#FFFFFF;
padding-top: 40px;
text-align: center;
font-size: 30px;
width: 100%;
height: 500px;
}
.tercero {
background:#32A1A3;
color:#F52510;
font-size: 40px;
text-align: center;
}
.cuarto {
background:#78C2A9;
color:#F6A816;
font-size: 40px;
text-align: center;
}
.quinto {
background:#32a1a3;
color:#F616BC;
font-size: 40px;
text-align: center;
}
.sexto {
background:#857F83;
color:#FFFFFF;
font-size: 15px;
}
span{padding-left: 550px;}
.image{
  display:block;
  margin: 5px;
  max-width: 100%;
  width: 100%;
  height: 500px;
  background: url('img.jpg') no-repeat;
}
