.uno{
text-align: center;
font-size: 30px;
background: #F7F306;
color:#070707;
padding: 20px 0px 20px 0px;
letter-spacing: 3px;
}
.dos{
text-align: center;
font-size: 20px;
background: #89F706;
color:#070707;
padding: 10px 0px 10px 0px;
}
.tres{
font-size: 15px;
background: #33D95E;
color:#070707;
border: 5px solid #F1EFEF;
}
.cuatro{
font-size: 15px;
background: #187AF0;
color:#FFFFFF;
border: 5px solid #0E4BBD;
}
.cinco{
font-size: 15px;
background: #FFFFFF;
color:#000000;
border: 5px solid #FFFFFF;
}
.seis{
font-size: 15px;
background: #F1F0EE;
color:#000000;
border: 5px solid #F1EFEF;
margin:7px;
}
.formulario form{
  border-color: #cdd1d1;
  display:block;
}

.tres div{
  background: #DEF6FD;
  border: 3px solid #FFFFFF;
}
span{ font-style: italic;}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: bolder;
  }
